<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/image/7.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>Контакты <i class="ion-ios-arrow-forward"></i></span></p>
                  <h1 class="mb-0 bread">Контакты</h1>
                </div>
              </div>
            </div>
          </section>
             
          <section class="ftco-section">
              <div class="container">
                  <div class="row justify-content-center">
                          <div class="col-md-12">
                              <div class="wrapper">
                                  <div class="row no-gutters mb-5">
                                      <div class="col-md-7">
                                          <div class="contact-wrap w-100 p-md-5 p-4">
                                              <h3 class="mb-4">Связаться с нами</h3>
                                              <div id="form-message-warning" class="mb-4"></div> 
                                        <div id="form-message-success" class="mb-4">
                                      Ваше сообщение  будет отправлено на почту ,спасибо!:)
                                        </div>
                                              <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                                  <div class="row">
                                                      <div class="col-md-6">
                                                          <div class="form-group">
                                                              <label class="label" for="name">Имя</label>
                                                              <input type="text" class="form-control" name="name" id="name" placeholder="Имя">
                                                          </div>
                                                      </div>
                                                      <div class="col-md-6"> 
                                                          <div class="form-group">
                                                              <label class="label" for="email">Почта</label>
                                                              <input type="email" class="form-control" name="email" id="email" placeholder="Почта">
                                                          </div>
                                                      </div>
                                                      <div class="col-md-12">
                                                          <div class="form-group">
                                                              <label class="label" for="subject">Тема</label>
                                                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема">
                                                          </div>
                                                      </div>
                                                      <div class="col-md-12">
                                                          <div class="form-group">
                                                              <label class="label" for="#">Сообщение</label>
                                                              <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Сообщение"></textarea>
                                                          </div>
                                                      </div>
                                                      <div class="col-md-12">
                                                          <div class="form-group">
                                                          <input type="submit"  value="Отправить сообщение" class="btn btn-primary">
                                                              <div class="submitting"></div>
                                                          </div>
                                                          
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                      
                                </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-3">
                                          <div class="dbox w-100 text-center">
                                      <div class="icon d-flex align-items-center justify-content-center">
                                          <span class="fa fa-map-marker"></span>
                                      </div>
                                      <div class="text">
                                      <p><span>Адресс: </span>микрорайон 7А, 7, Ангарск, Иркутская область</p>
                                    </div>
                                </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="dbox w-100 text-center">
                                      <div class="icon d-flex align-items-center justify-content-center">
                                          <span class="fa fa-phone"></span>
                                      </div>
                                      <div class="text">
                                      <p><span>Телефон</span> <a href="tel://89016308140">+79016308140</a></p>
                                    </div>
                                </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="dbox w-100 text-center">
                                      <div class="icon d-flex align-items-center justify-content-center">
                                          <span class="fa fa-paper-plane"></span>
                                      </div>
                                      <div class="text">
                                      <p><span>Почта: </span> <a href="mailto:studious19@mail.ru">studious19@mail.ru</a></p>
                                    </div>
                                </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="dbox w-100 text-center">
                                      <div class="icon d-flex align-items-center justify-content-center">
                                          <span class="fa fa-globe"></span>
                                      </div>
                                      <div class="text">
                                      <p><span>Сайт</span> <a href="#">Мурашкин Данила</a></p>
                                    </div>
                                </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
          </section>
          <footer class="footer">
          <div class="container-fluid px-lg-5">
            <div class="row">
              <div class="col-md-9 py-5">
                <div class="row">
                  <div class="col-md-4 mb-md-0 mb-4">
                    <h2 class="footer-heading">Сайт Мурашкин Данила</h2>
                    <p>Спасибо что посетили наш сайт</p>
                    <ul class="ftco-footer-social p-0">
                      <li class="ftco-animate"><a href="https://vk.com/studious" data-toggle="tooltip" data-placement="top"
                          title="Twitter"><span class="ion-logo-twitter"></span></a></li>
                      <li class="ftco-animate"><a href="https://vk.com/studious" data-toggle="tooltip" data-placement="top"
                          title="Facebook"><span class="ion-logo-facebook"></span></a></li>
                      <li class="ftco-animate"><a href="https://vk.com/studious" data-toggle="tooltip" data-placement="top"
                          title="Instagram"><span class="ion-logo-instagram"></span></a></li>
                    </ul>
                  </div>
      
                </div>
              </div>
            </div>
        </footer>
              
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.easing.1.3.js"></script>
        <script src="/static/js/jquery.waypoints.min.js"></script>
        <script src="/static/js/jquery.stellar.min.js"></script>
        <script src="/static/js/jquery.animateNumber.min.js"></script>
        <script src="/static/js/owl.carousel.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="/static/js/google-map.js"></script>
        <script src="/static/js/main.js"></script>
          
      
          
        
      
        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
      
      
        
        </body>
</html>