<!DOCTYPE>
<html>
    <head>
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/static/css/animate.css">

<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/css/magnific-popup.css">

<link rel="stylesheet" href="/static/css/ionicons.min.css">

<link rel="stylesheet" href="/static/css/flaticon.css">
<link rel="stylesheet" href="/static/css/icomoon.css">
<link rel="stylesheet" href="/static/css/style.css">
        <title>продажа</title>
		<body>

<div class="container pt-5">
		<div class="row justify-content-between">
			<div class="col">
				<a class="navbar-brand" href="/">Продажа и ремонт <span>мониторов</span></a>
			</div>
			<div class="col d-flex justify-content-end">
				<div class="social-media">
				<p class="mb-0 d-flex">
					<a href="https://vk.com/studious" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
					<a href="https://vk.com/studious" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
					<a href="https://vk.com/studious" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
					<a href="https://vk.com/studious" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
				</p>
		</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
	
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="fa fa-bars"></span> Меню
	  </button>
			
	  <div class="collapse navbar-collapse" id="ftco-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a href="/" class="nav-link">Главная</a></li>
			<li class="nav-item"><a href="/about" class="nav-link">О нас</a></li>	        	
		  <li class="nav-item"><a href="/contact" class="nav-link">Контакты</a></li>
		  <li class="nav-item"><a href="/remont" class="nav-link">таблица_ремонта</a></li>
		  <li class="nav-item"><a href="/prodajaa" class="nav-link">таблица_продажи</a></li>
		</ul>
	  </div>
	</div>
  </nav>
  
    <section class="aboutus-page-section spad">
        <div class="container">
            <div class="about-page-text">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ap-title">
                            <h1>Добавление записи о продаже</h1>
                            <form method="POST">
                               <label for="model" class="form-label">Модель</label><br>
                               <input name="model" type="text" id="model"  class="form-control"  class="field" /><br><br>

                               <label for="diagonal" class="form-label">Диагональ</label><br>
                               <input name="diagonal" type="number" id="diagonal"  class="form-control" class="field" /><br><br>

                               <label for="razrech" class="form-label">Разрешение</label><br>
                               <input name="razrech" type="number" id="razrech"  class="form-control" class="field" /><br><br>

                               <label for="ves" class="form-label">Вес</label><br>
                               <input name="ves" type="number" id="ves"  class="form-control" class="field" /><br><br>

                               <label for="urkost" class="form-label">Яркость</label><br>
                               <input name="urkost" type="number" id="urkost"  class="form-control" class="field" /><br><br>

                               <label for="kontrasnost" class="form-label">Контрастность</label><br>
                               <input name="kontrasnost" type="number" id="kontrasnost"  class="form-control" class="field" /><br><br>

                               <label for="garanti" class="form-label">Гарантия</label><br>
                               <input name="garanti" type="number" id="garanti"   class="form-control" class="field" /><br><br>

                               <label for="cena" class="form-label">Цена</label><br>
                               <input name="cena" type="text" id="cena"  class="form-control" class="field" /><br><br>

                               <label for="rassrochka" class="form-label">Рассрочка</label><br>
                               <input name="rassrochka" type="text" id="rassrochka"   class="form-control" class="field" /><br><br>


                               <button type="submit" class="btn btn-success">Отправить</button>
                            </form>
                            <a href="/prodajaa">Назад</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- About Us Page Section End -->




<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container-fluid px-lg-5">
      <div class="row">
        <div class="col-md-9 py-5">
          <div class="row">
            <div class="col-md-4 mb-md-0 mb-4">
              <h2 class="footer-heading">Сайт Мурашкин Данила</h2>
              <p>Спасибо что посетили наш сайт</p>
              <ul class="ftco-footer-social p-0">
                <li class="ftco-animate"><a href="https://vk.com/studious" data-toggle="tooltip" data-placement="top"
                    title="Twitter"><span class="ion-logo-twitter"></span></a></li>
                <li class="ftco-animate"><a href="https://vk.com/studious" data-toggle="tooltip" data-placement="top"
                    title="Facebook"><span class="ion-logo-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://vk.com/studious" data-toggle="tooltip" data-placement="top"
                    title="Instagram"><span class="ion-logo-instagram"></span></a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
  </footer>
		
    <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/jquery.waypoints.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.animateNumber.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/static/js/google-map.js"></script>
  <script src="/static/js/main.js"></script>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  
    
  </body>
</html>